*{
    margin: 0px;
    padding: 0px;
}
#collections{
    margin-top: 5%;
}
#women{
    width: 100%;  
}
#men{
    width: 100%;
}
#kids{
    width: 110%;
    height: 399px;
}
#btn{
    margin-left: 30%;
    margin-top: 1%;
}
#btn1{
    margin-left: 30%;
    margin-top: 1%;
}
#btn2{
    margin-left:30%;
    margin-top: 1%;
}
#col1{
    margin-top: 3%;
}

