*{
    margin: 0px;
    padding: 0px;
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-top: 15%;
}
button {
    padding: 2px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;    
}
.trans{
    display: none;

}
.account{
width: 200px;
height: 200px;   
align-items: center;
justify-items: center;
background-color: rgb(189, 77, 148);
border-radius: 10px;
color: white;
}
.credit{

width: 200px;
height: 200px;   
align-items: center;
justify-items: center;
background-color:rgb(92, 119, 130);
border-radius: 10px;
color: white;
}
.debit{

width: 200px;
height: 200px;   
align-items: center;
justify-items: center;
background-color:rgba(35, 45, 104, 0.668);
border-radius: 10px;
color: white;
}
.box {
    display: none;   
}
.act{
    background-color: darkslategray;
    color: whitesmoke;
    width: 25%;
    height: 350px;
    justify-content: center;
    justify-items:center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 35%;
}
.act1{
    padding-left: 70px;
    padding-top:20px;
}
.btn{
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: #158f83;;
    cursor: pointer;
    color: whitesmoke;
}
.credit-debit{
    background-color: darkslategray;
    color: whitesmoke;
    width: 25%;
    height: 300px;
    justify-content: center;
    justify-items:center;
    align-items: center;
    border-radius: 5px;
    margin-top: 15%;
    margin-left: 40%;
}
.input-field{
    padding-top: 8%;
    padding-left: 10%;
    color: whitesmoke;
}
.bt{
    padding: 2px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: rgb(210, 89, 130);
    color: white;
    cursor: pointer;
}
